<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    body {
      font-size: 62.5%;
    }

    h1 {
      color: purple;
      font-size: 40px;
    }

    input {
      height: 50px;
      width: 300px;
    }

    button {
      background: green;
      width: 200px;
      height: 50px;
      color: white;
      font-family: helvetica;
      font-size: 50%;
    }
  </style>
</head>

<body>
  <h1>Hi Nishant, Join Us</h1>
  <h2>We have
    <%=total%> users in our database</h2>

  <form method="POST" action="/register">
    <input type="email" name="email">
    <button>Join US</button>
  </form>
</body>

</html>